<h1 style="color:black;">HW00 Getting Started with Jupyter Notebooks</h1>

**BY WASIM RAJA MONDAL**

**Import Libraries**

In [9]:
#installing numpy

In [3]:
!pip install numpy

Collecting numpy
  Downloading numpy-2.2.6-cp311-cp311-macosx_14_0_x86_64.whl.metadata (62 kB)
Downloading numpy-2.2.6-cp311-cp311-macosx_14_0_x86_64.whl (6.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.9/6.9 MB 13.0 MB/s eta 0:00:00a 0:00:01
Installing collected packages: numpy
Successfully installed numpy-2.2.6

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [10]:
#importing numpy as np

In [4]:
import numpy as np

In [11]:
#installing pandas

In [5]:
!pip install pandas

Collecting pandas
  Using cached pandas-2.2.3-cp311-cp311-macosx_10_9_x86_64.whl.metadata (89 kB)
Requirement already satisfied: numpy>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Using cached pandas-2.2.3-cp311-cp311-macosx_10_9_x86_64.whl (12.6 MB)
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

In [12]:
#importing pandas as pd

In [6]:
import pandas as pd

**Import Data**

In [ ]:
#importing a csv file weather.csv from the directory named as data with index_col=none and header=0

In [13]:
#index_col=none suggests no column should be used as index. Pandas will autometically generate a numeric index (0,1,2,..)

In [14]:
#header=0 means the first row (row 0) of the csv file contains the column names

In [7]:
df_weather = pd.read_csv('data/weather.csv', index_col = None, header=0)

**View Data**

In [16]:
#viewing the top 5 rows of df_wather.

In [8]:
df_weather.head(5)

,Date,MaxTemp,MaxTime,MinTemp,MinTime,cloudCover,precipProbability,precipAmount,sunriseTime,sunsetTime,windSpeed
0,3/1/17,68.48,3/1/17 5:00,51.69,2/28/17 9:18,0.96,0.91,0.0184,2/28/17 12:25,2/28/17 23:46,6.20
1,3/2/17,69.75,3/1/17 10:30,36.00,3/2/17 5:00,0.53,1.00,0.2422,3/1/17 12:24,3/1/17 23:47,9.69
2,3/3/17,51.93,3/2/17 21:49,30.87,3/2/17 11:39,0.18,0.36,0.0028,3/2/17 12:23,3/2/17 23:48,4.63
3,3/4/17,44.03,3/3/17 21:51,26.49,3/3/17 14:06,0.14,0.70,0.0017,3/3/17 12:21,3/3/17 23:49,2.26
4,3/5/17,65.98,3/4/17 21:24,27.40,3/4/17 10:06,0.03,0.00,0.0000,3/4/17 12:20,3/4/17 23:50,4.69