<h1 style="color:black;">HW01 </h1>

**BY WASIM RAJA MONDAL**

<h3 style="color:black;"> 3. Import libraries (numpy and pandas)</h3>

In [1]:
!pip install numpy #installing numpy
!pip install pandas #installing pandas
import numpy as np  #importing numpy
import pandas as pd #importing pandas

Requirement already satisfied: numpy in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.2.6)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip
Requirement already satisfied: pandas in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.11/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip is available: 24.2 -> 25.1.1
[notice] To update, run: pip install --upgrade pip

<h3 style="color:black;"> 4. Import Data</h3>

In [88]:
#importing a csv file Real Estate Data.csv from the directory named as data with index_col=none and header=0
#index_col=none suggests no column should be used as index. Pandas will autometically generate a numeric index (0,1,2,..) 
#header=0 means the first row (row 0) of the csv file contains the column names

In [2]:
df_realstate = pd.read_csv('data/Real Estate Data.csv', index_col = None, header=0)

<h3 style="color:black;"> 5. View Data</h3>

<h4 style="color:black;"> 5a: view the top 5 rows of df_realestate</h4>

In [3]:
df_realstate.head(5)

,Id,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
0,1,2-STORY 1946 & NEWER,Resid Low Density,65.0,8450,NaN,Regular,Level,Inside lot,Gentle,...,61,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,208500
1,2,1-STORY 1946 & NEWER,Resid Low Density,80.0,9600,NaN,Regular,Level,Frontage on 2 sides,Gentle,...,0,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,181500
2,3,2-STORY 1946 & NEWER,Resid Low Density,68.0,11250,NaN,Slightly irregular,Level,Inside lot,Gentle,...,42,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,223500
3,4,2-STORY 1945 & OLDER,Resid Low Density,60.0,9550,NaN,Slightly irregular,Level,Corner lot,Gentle,...,35,272,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,"Abnormal Sale - trade, foreclosure, short sale",140000
4,5,2-STORY 1946 & NEWER,Resid Low Density,84.0,14260,NaN,Slightly irregular,Level,Frontage on 2 sides,Gentle,...,84,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,250000

<h4 style="color:black;"> 5b: view a sample of records of df_realestate</h4>

In [4]:
df_realstate.sample()

,Id,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
1312,1364,2-STORY 1946 & NEWER,Resid Low Density,73.0,8499,NaN,Slightly irregular,Level,Inside lot,Gentle,...,36,0,0,0,0,No Pool,No Fence,Home just constructed and sold,Home was not completed when last assessed (ass...,156932

<h4 style="color:black;"> 5c: view the bottom 2 rows of df_realestate</h4>

In [5]:
df_realstate.tail(2)

,Id,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
1402,1459,1-STORY 1946 & NEWER,Resid Low Density,68.0,9717,NaN,Regular,Level,Inside lot,Gentle,...,0,112,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,142125
1403,1460,1-STORY 1946 & NEWER,Resid Low Density,75.0,9937,NaN,Regular,Level,Inside lot,Gentle,...,68,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,147500

<h4 style="color:black;"> 5d: view the info for df_realestate</h4>

In [6]:
df_realstate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404 entries, 0 to 1403
Data columns (total 69 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1404 non-null   int64
 1   Type                      1404 non-null   object
 2   Zoning Class              1404 non-null   object
 3   Lot Frontage              1151 non-null   float64
 4   Lot Area                  1404 non-null   int64
 5   Alley                     84 non-null     object
 6   Lot Shape                 1404 non-null   object
 7   Land Contour              1404 non-null   object
 8   Lot Config                1404 non-null   object
 9   Land Slope                1404 non-null   object
 10  Nbhd                      1404 non-null   object
 11  Location Condition        1404 non-null   object
 12  Bldg Type                 1404 non-null   object
 13  House Style               1404 non-null   object
 14  OvQual                    1404 non-null   int64
 15  Overall Cond              1404 non-null   int64
 16  Built                     1404 non-null   int64
 17  Year Remod Add            1404 non-null   int64
 18  Roof Style                1404 non-null   object
 19  Roof Material             1404 non-null   object
 20  Exterior Primary          1404 non-null   object
 21  Masonry/Veneer            580 non-null    object
 22  Masonry/Veneer Area       1396 non-null   float64
 23  Exterior Qual             1404 non-null   object
 24  Exterior Cond             1404 non-null   object
 25  Foundation                1404 non-null   object
 26  Basement Height           1404 non-null   object
 27  Basement Cond             1404 non-null   object
 28  Basement Exposure         1404 non-null   object
 29  Basement Finish           1404 non-null   object
 30  Basement Finished Area    1404 non-null   int64
 31  Basement Unfinished Area  1404 non-null   int64
 32  Basement Area             1404 non-null   int64
 33  Heating Qual              1404 non-null   object
 34  CentralAir                1404 non-null   object
 35  Electrical                1404 non-null   object
 36  1st Floor Area            1404 non-null   int64
 37  2nd Floor Area            1404 non-null   int64
 38  Living Area Above Grade   1404 non-null   int64
 39  Basement Full Baths       1404 non-null   int64
 40  Basement Half baths       1404 non-null   int64
 41  Full Baths Above Grade    1404 non-null   int64
 42  Half Baths Above Grade    1404 non-null   int64
 43  Bedrooms Above Grade      1404 non-null   int64
 44  Kitchens Above Grade      1404 non-null   int64
 45  Kitchen Qual              1404 non-null   object
 46  Total Rooms Above Grade   1404 non-null   int64
 47  Functionality             1404 non-null   object
 48  Fireplaces                1404 non-null   int64
 49  Fireplce Qual             1404 non-null   object
 50  Garage Type               1404 non-null   object
 51  Garage Yr Built           1341 non-null   float64
 52  Garage Finish             1404 non-null   object
 53  Garage Cars               1404 non-null   int64
 54  Garage Area               1404 non-null   int64
 55  Garage Qual               1404 non-null   object
 56  Garage Cond               1404 non-null   object
 57  Paved Drive               1404 non-null   object
 58  Wood Deck Area            1404 non-null   int64
 59  Open Porch Area           1404 non-null   int64
 60  Enclosed Porch Area       1404 non-null   int64
 61  3 Season Porch Area       1404 non-null   int64
 62  Screen Porch Area         1404 non-null   int64
 63  Pool Area                 1404 non-null   int64
 64  Pool Qual                 1404 non-null   object
 65  Fence                     1404 non-null   object
 66  Sale Type                 1404 non-null   object
 67  Sale Condition            1404 non-null   object
 68  Sale Price                1404 non-null   int64
dtypes: float64(3), int64(29), object(37)
memory usage: 757.0+ KB

<h3 style="color:black;"> 6. Drop and Rename Columns</h3>

<h4 style="color:black;"> 6a: Droping Columns</h4>

In [7]:
df_realstate_copy = df_realstate.copy()
df_realstate_copy.head(2)

,Id,Type,Zoning Class,Lot Frontage,Lot Area,Alley,Lot Shape,Land Contour,Lot Config,Land Slope,...,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Pool Qual,Fence,Sale Type,Sale Condition,Sale Price
0,1,2-STORY 1946 & NEWER,Resid Low Density,65.0,8450,NaN,Regular,Level,Inside lot,Gentle,...,61,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,208500
1,2,1-STORY 1946 & NEWER,Resid Low Density,80.0,9600,NaN,Regular,Level,Frontage on 2 sides,Gentle,...,0,0,0,0,0,No Pool,No Fence,Warranty Deed - Conventional,Normal Sale,181500

In [8]:
df_realstate.drop(['Zoning Class', 'Lot Shape', 'Lot Config', 'Land Slope', 'Bldg Type', 'House Style', 'Roof Style', 'Roof Material', 'Exterior Primary', 'Masonry/Veneer', 'Exterior Qual', 'Exterior Cond', 'Foundation', 'Basement Height', 'Basement Cond', 'Basement Exposure', 'Basement Finish', 'Heating Qual', 'CentralAir', 'Electrical', 'Functionality', 'Fireplce Qual', 'Garage Type', 'Garage Qual', 'Garage Cond', 'Paved Drive', 'Pool Qual', 'Fence', 'Sale Type', 'Year Remod Add'], axis=1, inplace=True)

<h4 style="color:black;"> 6b: Renamming Columns</h4>

In [9]:
df_realstate=df_realstate.rename(columns = {'Type':'Dwelling Type', \
                        'OvQual':'Overall Quality'})

In [10]:
df_realstate=df_realstate.rename(columns = {'Nbhd':'Neighborhood', \
                        'Built':'Year Built'})

<h4 style="color:black;"> 6c: Shape of the data after dropping column and renaming</h4>

In [11]:
df_realstate.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1404 entries, 0 to 1403
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1404 non-null   int64
 1   Dwelling Type             1404 non-null   object
 2   Lot Frontage              1151 non-null   float64
 3   Lot Area                  1404 non-null   int64
 4   Alley                     84 non-null     object
 5   Land Contour              1404 non-null   object
 6   Neighborhood              1404 non-null   object
 7   Location Condition        1404 non-null   object
 8   Overall Quality           1404 non-null   int64
 9   Overall Cond              1404 non-null   int64
 10  Year Built                1404 non-null   int64
 11  Masonry/Veneer Area       1396 non-null   float64
 12  Basement Finished Area    1404 non-null   int64
 13  Basement Unfinished Area  1404 non-null   int64
 14  Basement Area             1404 non-null   int64
 15  1st Floor Area            1404 non-null   int64
 16  2nd Floor Area            1404 non-null   int64
 17  Living Area Above Grade   1404 non-null   int64
 18  Basement Full Baths       1404 non-null   int64
 19  Basement Half baths       1404 non-null   int64
 20  Full Baths Above Grade    1404 non-null   int64
 21  Half Baths Above Grade    1404 non-null   int64
 22  Bedrooms Above Grade      1404 non-null   int64
 23  Kitchens Above Grade      1404 non-null   int64
 24  Kitchen Qual              1404 non-null   object
 25  Total Rooms Above Grade   1404 non-null   int64
 26  Fireplaces                1404 non-null   int64
 27  Garage Yr Built           1341 non-null   float64
 28  Garage Finish             1404 non-null   object
 29  Garage Cars               1404 non-null   int64
 30  Garage Area               1404 non-null   int64
 31  Wood Deck Area            1404 non-null   int64
 32  Open Porch Area           1404 non-null   int64
 33  Enclosed Porch Area       1404 non-null   int64
 34  3 Season Porch Area       1404 non-null   int64
 35  Screen Porch Area         1404 non-null   int64
 36  Pool Area                 1404 non-null   int64
 37  Sale Condition            1404 non-null   object
 38  Sale Price                1404 non-null   int64
dtypes: float64(3), int64(28), object(8)
memory usage: 427.9+ KB

<h3 style="color:black;"> 7. Grouping the data and replacing values</h3>

<h4 style="color:black;"> 7a: Group based on ‘Neighborhood’ and replace values</h4>

In [12]:
df_realstate.groupby('Neighborhood')['Id'].count()

Neighborhood
Bloomington Heights             6
Bloomington Hts                11
Bluestem                        2
Briardale                      16
Brookside                      49
Clear Creek                    27
College Creek                 150
Crawford                       50
Edwards                        89
Gilbert                        79
Iowa DOT and Rail Road         34
Meadow Village                 10
Mitchell                       48
North Ames                    216
Northpark Villa                 9
Northridge                     41
Northridge Heights             77
Northwest Ames                 73
Old Town                      103
Sawyer                         74
Sawyer West                    58
Somerset                       86
South & West of Iowa State     24
Stone Brook                    25
Timberland                     36
Veenker                        11
Name: Id, dtype: int64

In [13]:
df_realstate = df_realstate.replace('Bloomington Hts', 'Bloomington Heights' )

In [14]:
df_realstate.groupby('Neighborhood')['Sale Price'].median()

Neighborhood
Bloomington Heights           191000.0
Bluestem                      137500.0
Briardale                     106000.0
Brookside                     128000.0
Clear Creek                   200000.0
College Creek                 197200.0
Crawford                      208812.0
Edwards                       120000.0
Gilbert                       181000.0
Iowa DOT and Rail Road        104750.0
Meadow Village                106000.0
Mitchell                      154750.0
North Ames                    141000.0
Northpark Villa               146000.0
Northridge                    301500.0
Northridge Heights            315000.0
Northwest Ames                182900.0
Old Town                      119900.0
Sawyer                        135000.0
Sawyer West                   179950.0
Somerset                      225500.0
South & West of Iowa State    139750.0
Stone Brook                   278000.0
Timberland                    233975.0
Veenker                       218000.0
Name: Sale Price, dtype: float64

<h4 style="color:black;"> 7b: Group based on ‘Dwelling Type’ and replace values</h4>

In [15]:
df_realstate.groupby('Dwelling Type')['Id'].count()

Dwelling Type
1 STORY PUD               9
1-1/2 STORY ALL AGES    138
1-STORY 1945 & OLDER     62
1-STORY 1946 & NEWER    531
1-STORY PUD              78
2 FAMILY CONVERSION      28
2-1/2 STORY ALL AGES     15
2-STORY 1945 & OLDER     59
2-STORY 1946 & NEWER    298
2-STORY PUD              63
DUPLEX                   46
SPLIT FOYER              20
SPLIT OR MULTI-LEVEL     57
Name: Id, dtype: int64

In [16]:
df_realstate = df_realstate.replace('1-STORY PUD', '1 STORY PUD' )

In [17]:
df_realstate.groupby(['Neighborhood', 'Dwelling Type'])['Sale Price'].median()

Neighborhood         Dwelling Type
Bloomington Heights  1 STORY PUD             191500.0
                     1-STORY 1946 & NEWER    159895.0
Bluestem             2-STORY PUD             137500.0
Briardale            2-STORY PUD             106000.0
Brookside            1-1/2 STORY ALL AGES    132500.0
                                               ...
Timberland           SPLIT OR MULTI-LEVEL    181250.0
Veenker              1 STORY PUD             270000.0
                     1-STORY 1946 & NEWER    181500.0
                     2-STORY 1946 & NEWER    294000.0
                     SPLIT OR MULTI-LEVEL    190500.0
Name: Sale Price, Length: 132, dtype: float64

<h3 style="color:black;"> 8. Summarize and Filter Data</h3>

<h4 style="color:black;"> 8a: Pivot Neighborhood and Land Contour</h4>

In [18]:
df_re_pivot = df_realstate.pivot_table(index='Neighborhood', columns='Land Contour', values='Sale Price')

In [19]:
df_re_pivot

Land Contour,Banked,Depression,Hillside,Level
Neighborhood,,,,
Bloomington Heights,NaN,NaN,NaN,194870.882353
Bluestem,NaN,NaN,NaN,137500.000000
Briardale,NaN,NaN,NaN,104493.750000
Brookside,165400.000000,39300.000000,82500.000000,129358.928571
Clear Creek,220250.000000,222666.666667,186500.000000,200575.636364
College Creek,124900.000000,140666.666667,124000.000000,200165.282759
Crawford,198656.250000,224000.000000,221900.000000,212734.862069
Edwards,147035.714286,72950.000000,94750.000000,130323.670886
Gilbert,154500.000000,NaN,247640.625000,187614.217391
Iowa DOT and Rail Road,108978.600000,94500.000000,102776.000000,99019.653846
Meadow Village,NaN,NaN,NaN,108580.000000
Mitchell,134000.000000,148200.000000,122625.000000,161087.150000
North Ames,143000.000000,NaN,188500.000000,146969.872038
Northpark Villa,NaN,NaN,NaN,142694.444444
Northridge,NaN,260000.000000,NaN,337177.700000
Northridge Heights,NaN,NaN,374000.000000,315511.026316
Northwest Ames,NaN,NaN,NaN,189050.068493
Old Town,115319.000000,NaN,130000.000000,132744.434783
Sawyer,168000.000000,NaN,NaN,136365.643836
Sawyer West,130386.333333,270900.000000,NaN,185412.411765
Somerset,NaN,NaN,NaN,225379.837209
South & West of Iowa State,134439.454545,NaN,NaN,151611.538462
Stone Brook,NaN,267500.000000,352534.333333,300721.705882
Timberland,160000.000000,375000.000000,267879.000000,236942.208333
Veenker,NaN,385000.000000,NaN,224150.000000

<h4 style="color:black;"> 8b: Describe and Filter for Garage Cars</h4>

In [20]:
df_realstate['Garage Cars'].describe()

count    1404.000000
mean        1.797721
std         0.728482
min         0.000000
25%         1.000000
50%         2.000000
75%         2.000000
max         4.000000
Name: Garage Cars, dtype: float64

In [21]:
df_realstate['Garage Cars'].value_counts(normalize=True)

Garage Cars
2    0.574074
1    0.248575
3    0.128917
0    0.044872
4    0.003561
Name: proportion, dtype: float64

In [22]:
df_realstate=df_realstate[df_realstate['Garage Cars'] <= 3 ].sort_values('Garage Cars', ascending=False)

In [23]:
df_realstate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1399 entries, 11 to 1395
Data columns (total 39 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1399 non-null   int64
 1   Dwelling Type             1399 non-null   object
 2   Lot Frontage              1147 non-null   float64
 3   Lot Area                  1399 non-null   int64
 4   Alley                     83 non-null     object
 5   Land Contour              1399 non-null   object
 6   Neighborhood              1399 non-null   object
 7   Location Condition        1399 non-null   object
 8   Overall Quality           1399 non-null   int64
 9   Overall Cond              1399 non-null   int64
 10  Year Built                1399 non-null   int64
 11  Masonry/Veneer Area       1391 non-null   float64
 12  Basement Finished Area    1399 non-null   int64
 13  Basement Unfinished Area  1399 non-null   int64
 14  Basement Area             1399 non-null   int64
 15  1st Floor Area            1399 non-null   int64
 16  2nd Floor Area            1399 non-null   int64
 17  Living Area Above Grade   1399 non-null   int64
 18  Basement Full Baths       1399 non-null   int64
 19  Basement Half baths       1399 non-null   int64
 20  Full Baths Above Grade    1399 non-null   int64
 21  Half Baths Above Grade    1399 non-null   int64
 22  Bedrooms Above Grade      1399 non-null   int64
 23  Kitchens Above Grade      1399 non-null   int64
 24  Kitchen Qual              1399 non-null   object
 25  Total Rooms Above Grade   1399 non-null   int64
 26  Fireplaces                1399 non-null   int64
 27  Garage Yr Built           1336 non-null   float64
 28  Garage Finish             1399 non-null   object
 29  Garage Cars               1399 non-null   int64
 30  Garage Area               1399 non-null   int64
 31  Wood Deck Area            1399 non-null   int64
 32  Open Porch Area           1399 non-null   int64
 33  Enclosed Porch Area       1399 non-null   int64
 34  3 Season Porch Area       1399 non-null   int64
 35  Screen Porch Area         1399 non-null   int64
 36  Pool Area                 1399 non-null   int64
 37  Sale Condition            1399 non-null   object
 38  Sale Price                1399 non-null   int64
dtypes: float64(3), int64(28), object(8)
memory usage: 437.2+ KB

In [24]:
df_realstate = df_realstate.drop('Garage Area', axis = 1)

<h4 style="color:black;"> 8c: Describe and Filter for Sale Price</h4>

In [25]:
df_realstate['Sale Price'].describe()

count      1399.000000
mean     183887.932094
std       79325.966763
min       34900.000000
25%      132500.000000
50%      165500.000000
75%      215100.000000
max      755000.000000
Name: Sale Price, dtype: float64

In [26]:
df_realstate[df_realstate['Sale Price'] > 500000]

,Id,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,...,Garage Finish,Garage Cars,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
1006,1047,2-STORY 1946 & NEWER,85.0,16056,NaN,Level,Stone Brook,Normal,9,5,...,Finished,3,214,108,0,0,0,0,Home was not completed when last assessed (ass...,556581
864,899,1-STORY 1946 & NEWER,100.0,12919,NaN,Level,Northridge Heights,Normal,9,5,...,Finished,3,0,67,0,0,0,0,Home was not completed when last assessed (ass...,611657
771,804,2-STORY 1946 & NEWER,107.0,13891,NaN,Level,Northridge Heights,Normal,9,5,...,Rough Finished,3,52,170,0,0,192,0,Home was not completed when last assessed (ass...,582933
737,770,2-STORY 1946 & NEWER,47.0,53504,NaN,Hillside,Stone Brook,Normal,8,5,...,Finished,3,503,36,0,0,210,0,Normal Sale,538000
661,692,2-STORY 1946 & NEWER,104.0,21535,NaN,Level,Northridge,Normal,10,6,...,Finished,3,382,50,0,0,0,0,Normal Sale,755000
1125,1170,2-STORY 1946 & NEWER,118.0,35760,NaN,Level,Northridge,Normal,10,5,...,Finished,3,361,76,0,0,0,0,Normal Sale,625000
1138,1183,2-STORY 1946 & NEWER,160.0,15623,NaN,Level,Northridge,Normal,10,5,...,Finished,3,171,78,0,0,0,555,"Abnormal Sale - trade, foreclosure, short sale",745000
421,441,1-STORY 1946 & NEWER,105.0,15431,NaN,Level,Northridge Heights,Normal,10,5,...,Finished,3,0,72,0,0,170,0,Normal Sale,555000
170,179,1-STORY 1946 & NEWER,63.0,17423,NaN,Level,Stone Brook,Normal,9,5,...,Finished,3,0,60,0,0,0,0,Home was not completed when last assessed (ass...,501837

In [27]:
df_realstate[df_realstate['Sale Price'] > 500000 ].sort_values('Sale Price', ascending=False)

,Id,Dwelling Type,Lot Frontage,Lot Area,Alley,Land Contour,Neighborhood,Location Condition,Overall Quality,Overall Cond,...,Garage Finish,Garage Cars,Wood Deck Area,Open Porch Area,Enclosed Porch Area,3 Season Porch Area,Screen Porch Area,Pool Area,Sale Condition,Sale Price
661,692,2-STORY 1946 & NEWER,104.0,21535,NaN,Level,Northridge,Normal,10,6,...,Finished,3,382,50,0,0,0,0,Normal Sale,755000
1138,1183,2-STORY 1946 & NEWER,160.0,15623,NaN,Level,Northridge,Normal,10,5,...,Finished,3,171,78,0,0,0,555,"Abnormal Sale - trade, foreclosure, short sale",745000
1125,1170,2-STORY 1946 & NEWER,118.0,35760,NaN,Level,Northridge,Normal,10,5,...,Finished,3,361,76,0,0,0,0,Normal Sale,625000
864,899,1-STORY 1946 & NEWER,100.0,12919,NaN,Level,Northridge Heights,Normal,9,5,...,Finished,3,0,67,0,0,0,0,Home was not completed when last assessed (ass...,611657
771,804,2-STORY 1946 & NEWER,107.0,13891,NaN,Level,Northridge Heights,Normal,9,5,...,Rough Finished,3,52,170,0,0,192,0,Home was not completed when last assessed (ass...,582933
1006,1047,2-STORY 1946 & NEWER,85.0,16056,NaN,Level,Stone Brook,Normal,9,5,...,Finished,3,214,108,0,0,0,0,Home was not completed when last assessed (ass...,556581
421,441,1-STORY 1946 & NEWER,105.0,15431,NaN,Level,Northridge Heights,Normal,10,5,...,Finished,3,0,72,0,0,170,0,Normal Sale,555000
737,770,2-STORY 1946 & NEWER,47.0,53504,NaN,Hillside,Stone Brook,Normal,8,5,...,Finished,3,503,36,0,0,210,0,Normal Sale,538000
170,179,1-STORY 1946 & NEWER,63.0,17423,NaN,Level,Stone Brook,Normal,9,5,...,Finished,3,0,60,0,0,0,0,Home was not completed when last assessed (ass...,501837

In [28]:
df_re_over500K=df_realstate[df_realstate['Sale Price'] > 500000 ].sort_values('Sale Price', ascending=False)

In [29]:
df_re_over500K.info()

<class 'pandas.core.frame.DataFrame'>
Index: 9 entries, 661 to 170
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        9 non-null      int64
 1   Dwelling Type             9 non-null      object
 2   Lot Frontage              9 non-null      float64
 3   Lot Area                  9 non-null      int64
 4   Alley                     0 non-null      object
 5   Land Contour              9 non-null      object
 6   Neighborhood              9 non-null      object
 7   Location Condition        9 non-null      object
 8   Overall Quality           9 non-null      int64
 9   Overall Cond              9 non-null      int64
 10  Year Built                9 non-null      int64
 11  Masonry/Veneer Area       9 non-null      float64
 12  Basement Finished Area    9 non-null      int64
 13  Basement Unfinished Area  9 non-null      int64
 14  Basement Area             9 non-null      int64
 15  1st Floor Area            9 non-null      int64
 16  2nd Floor Area            9 non-null      int64
 17  Living Area Above Grade   9 non-null      int64
 18  Basement Full Baths       9 non-null      int64
 19  Basement Half baths       9 non-null      int64
 20  Full Baths Above Grade    9 non-null      int64
 21  Half Baths Above Grade    9 non-null      int64
 22  Bedrooms Above Grade      9 non-null      int64
 23  Kitchens Above Grade      9 non-null      int64
 24  Kitchen Qual              9 non-null      object
 25  Total Rooms Above Grade   9 non-null      int64
 26  Fireplaces                9 non-null      int64
 27  Garage Yr Built           9 non-null      float64
 28  Garage Finish             9 non-null      object
 29  Garage Cars               9 non-null      int64
 30  Wood Deck Area            9 non-null      int64
 31  Open Porch Area           9 non-null      int64
 32  Enclosed Porch Area       9 non-null      int64
 33  3 Season Porch Area       9 non-null      int64
 34  Screen Porch Area         9 non-null      int64
 35  Pool Area                 9 non-null      int64
 36  Sale Condition            9 non-null      object
 37  Sale Price                9 non-null      int64
dtypes: float64(3), int64(27), object(8)
memory usage: 2.7+ KB

In [30]:
df_re_over500K.iloc[:,[0,5,36]]

        Id Land Contour                                     Sale Condition
661    692        Level                                        Normal Sale
1138  1183        Level    Abnormal Sale -  trade, foreclosure, short sale
1125  1170        Level                                        Normal Sale
864    899        Level  Home was not completed when last assessed (ass...
771    804        Level  Home was not completed when last assessed (ass...
1006  1047        Level  Home was not completed when last assessed (ass...
421    441        Level                                        Normal Sale
737    770     Hillside                                        Normal Sale
170    179        Level  Home was not completed when last assessed (ass...

In [31]:
df_realstate=df_realstate[df_realstate['Sale Price'] <=500000 ].sort_values('Sale Price', ascending=False)

In [32]:
df_realstate.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1390 entries, 766 to 474
Data columns (total 38 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Id                        1390 non-null   int64
 1   Dwelling Type             1390 non-null   object
 2   Lot Frontage              1138 non-null   float64
 3   Lot Area                  1390 non-null   int64
 4   Alley                     83 non-null     object
 5   Land Contour              1390 non-null   object
 6   Neighborhood              1390 non-null   object
 7   Location Condition        1390 non-null   object
 8   Overall Quality           1390 non-null   int64
 9   Overall Cond              1390 non-null   int64
 10  Year Built                1390 non-null   int64
 11  Masonry/Veneer Area       1382 non-null   float64
 12  Basement Finished Area    1390 non-null   int64
 13  Basement Unfinished Area  1390 non-null   int64
 14  Basement Area             1390 non-null   int64
 15  1st Floor Area            1390 non-null   int64
 16  2nd Floor Area            1390 non-null   int64
 17  Living Area Above Grade   1390 non-null   int64
 18  Basement Full Baths       1390 non-null   int64
 19  Basement Half baths       1390 non-null   int64
 20  Full Baths Above Grade    1390 non-null   int64
 21  Half Baths Above Grade    1390 non-null   int64
 22  Bedrooms Above Grade      1390 non-null   int64
 23  Kitchens Above Grade      1390 non-null   int64
 24  Kitchen Qual              1390 non-null   object
 25  Total Rooms Above Grade   1390 non-null   int64
 26  Fireplaces                1390 non-null   int64
 27  Garage Yr Built           1327 non-null   float64
 28  Garage Finish             1390 non-null   object
 29  Garage Cars               1390 non-null   int64
 30  Wood Deck Area            1390 non-null   int64
 31  Open Porch Area           1390 non-null   int64
 32  Enclosed Porch Area       1390 non-null   int64
 33  3 Season Porch Area       1390 non-null   int64
 34  Screen Porch Area         1390 non-null   int64
 35  Pool Area                 1390 non-null   int64
 36  Sale Condition            1390 non-null   object
 37  Sale Price                1390 non-null   int64
dtypes: float64(3), int64(27), object(8)
memory usage: 423.5+ KB

<h3 style="color:black;"> 9. Save df_realestate as a csv</h3>

In [63]:
df_realstate.to_csv('Real Estate Data – Week 2.csv', index=False)

In [64]:
!pwd

/Users/wasim/Desktop/HW01

In [65]:
!ls

HW01_MondalW.ipynb              data
Real Estate Data – Week 2.csv

In [66]:
!mv Real\ Estate\ Data\ –\ Week\ 2.csv data/

In [69]:
!ls data/

Real Estate Data – Week 2.csv   Real Estate Data.csv

In [33]:
!ls

HW01_MondalW.ipynb data