<h1 style="color:blue;">Scenario 2 - Part 2</h1>

NOTE: here is guide to use markdown - https://www.markdownguide.org/basic-syntax/


Outline of notebook:
- **C1.S2.Py08 - Understanding .info()**
    - .info()
- **C1.S2.Py09 - Understanding data types**
- **C1.S2.Py10 - Converting objects to dates**
- **C1.S2.Py11 - How to use groupby for categorical data**
- **C1.S2.Py12 - How to pivot data**
- **C1.S2.Py13 - How to melt data**
- **C1.S2.Py14 - Changing and correcting data**
- **C1.S2.Py15 - Describing data and looking for outliers**
    - .describe() and other calculations
- **C1.S2.Py16 - How to slice Data**
    - [  ], .iloc, .loc
- **C1.S2.Py17 - How to filter Data**

In [ ]:
#Code Block 1

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns



#style options

%matplotlib inline
#if you want graphs to automatically without plt.show

pd.set_option('display.max_columns',500) #allows for up to 500 columns to be displayed when viewing a dataframe

plt.style.use('seaborn') #a style that can be used for plots - see style reference above

In [ ]:
#Code Block 2
df = pd.read_csv('data/Scenario2_2.csv', index_col = 0, header=0)
    #DOES NOT set the first column to the index
    # and the top row as the headers

<h2 style="color:blue;">C1.S2.Py08 - View data info and its properties</h2>

- .info() Allows you to see each column and its corresponding non-null values and data type.

*Documentation - https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html*

In [ ]:
#Code Block 3
df.info()

In [ ]:
# Code Block 4
df.shape

<h2 style="color:blue;">C1.S2.Py09 - Understanding data types</h2>


**dtypes** - in parenthesis () python data type
- object (str or mixed)
    - Text or mixed numeric and non-numeric values
- int64 (int)
    - Integer numbers
- float64 (float)
    - Floating point numbers or continuous numbers (have a decimal point)
- bool (bool)
    - Boolean or True/False values
- datetime64 (NA)
    - Date and time values
- timedelta[ns]	(NA)
    - Differences between two datetimes
- category(NA)
    - Finite list of text values
    
<img src="images/DataTypes.png" alt="pivot data" style="width: 600px;"/>


*Documentation - https://pbpython.com/pandas_dtypes.html*

### Data types for Python variables

In [ ]:
# Code Block 5
varTerm = 36
print(varTerm)
type(varTerm)

In [ ]:
# Code Block 6
print(varTerm + 1)
print(varTerm)

In [ ]:
# Code Block 7
#varTerm + ' months' #Expect and error - you cannot join a integer and string

In [ ]:
# Code Block 8
str(varTerm) + ' months'

In [ ]:
# Code Block 9
varTermString = str(varTerm)
print(type(varTerm))
print(type(varTermString))

### Data types for pandas DataFrames

In [ ]:
# Code Block 10
df['Interest Rate'].dtypes

In [ ]:
# Code Block 11
df['Term'].dtypes
# COMMENT: view info with Shift - Tab

In [ ]:
# Code Block 12
df['Total Debt'].dtypes

In [ ]:
# Code Block 13
df['TermNum'] = df['Term'] + 1
df.head(2)

In [ ]:
# Code Block 14
df = df.drop('TermNum', axis = 1) # COMMENT: Drop TermNum since it is not relevant
#df['TermString'] = df['Term'] + " months"
# COMMENT: You cannot join a integer and string, you must convert the integer to a string first - see Code Block 13

In [ ]:
# Code Block 15
df['TermString'] = df['Term'].astype(str) + " months"

In [ ]:
# Code Block 16
df.head(2)

<h2 style="color:blue;">C1.S2.Py10 - Converting dates from objects</h2>  

This section changes the columns from an object to a date.
- csv files import a date as an object
- xlsx files import a data as a date (no need to convert)

**For every date, you can also create a variable for:**
- dayofweek
- month
- year
- day
- dayname
- etc.

In [ ]:
#Code Block 17
df.info()

### Import datetime to be able to convert date to elements of a date (month, year, etc.)
https://docs.python.org/3/library/datetime.html

In [ ]:
#Code Block 18
import datetime as dt

In [ ]:
#Code Block 19
df['Origination Date'] = pd.to_datetime(df['Origination Date'])

In [ ]:
#Code Block 20
df['Day'] = df['Origination Date'].dt.dayofweek
# COMMENT: 0 = Monday, 1 = Tuesday, etc.

In [ ]:
#Code Block 21
df['Month'] = df['Origination Date'].dt.month

In [ ]:
#Code Block 22
df['Year'] = df['Origination Date'].dt.year

In [ ]:
#Code Block 23
df.sample(3)

<h2 style="color:blue;">C1.S2.Py11 - How to use groupby for categorical data</h2>

### Groupby
https://pandas.pydata.org/pandas-docs/version/0.22/api.html#groupby

#### Groupby using COUNT and viewing all columns

In [ ]:
#Code Block 24
df.groupby('Loan Purpose').count()

#### Groupby using MEAN and viewing one column

In [ ]:
#Code Block 25
df.groupby('Loan Purpose')['Amount Funded'].mean()

#### Groupby using MEDIAN and viewing one column as a DataFrame

In [ ]:
#Code Block 26
df_loanpurpose = df.groupby('Loan Purpose')['Amount Funded'].median()
df_loanpurpose = pd.DataFrame(df_loanpurpose)
df_loanpurpose

#### Groupby using MAX and viewing one column as a DataFrame and resetting index

In [ ]:
#Code Block 27
df_loanpurpose2 = df.groupby('Loan Purpose')['Amount Funded'].min()
df_loanpurpose2 = pd.DataFrame(df_loanpurpose2)
df_loanpurpose2 = df_loanpurpose2.reset_index()
df_loanpurpose2

#### Groupby with TWO columns using MEAN and viewing one column

In [ ]:
#Code Block 28
df.groupby(['Loan Purpose', 'Home Ownership'])['Amount Funded'].mean()

#### Groupby with two columns using mean and viewing one column as a DataFrame

In [ ]:
#Code Block 29
df_loanown = df.groupby(['Loan Purpose', 'Home Ownership'])['Amount Funded'].mean()
df_loanown = pd.DataFrame(df_loanown).reset_index()
df_loanown

In [ ]:
#Code Block 30
df.groupby(['Home Ownership'])['Home Ownership'].count()

#### NOTE:
We will address the misspellings of MORGTAGE in another video (**C1.S4.Py05- Changing and correcting data**)

<h2 style="color:blue;">C1.S2.Py12 - How to pivot data</h2>

- View the sum of all loans per year and month based on reason for leaving

images from: https://pandas.pydata.org/pandas-docs/stable/user_guide/reshaping.html

#### Pivot

- Take one column and expand it multiple columns
- pivot = df.pivot_table(index='index', columns='categorical value', values='numerical value')
- set index as an identifier
- set the columns to the column that has the different categories that will be your headers
- set the values to a specific numerical column

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.pivot.html

<img src="images/reshaping_pivot.png" alt="pivot data" style="width: 600px;"/>

#### Melt
- set dataset
- set variables to include that are not melted - id_vars
- melt variable - value_vars
https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html <br>

<img src="images/reshaping_melt.png" alt="melt data" style="width: 600px;"/>

In [ ]:
#Code Block 31
df.head()

#### Pivot data
- Loan Purpose as the rows
- Home Ownership as the columns
- Amount Funded average as the values

In [ ]:
#Code Block 32
df_pivot = df.pivot_table(index='Loan Purpose', columns='Home Ownership', values='Amount Funded')
df_pivot

#### Pivot data and reset index
- Loan Purpose as the rows
- Home Ownership as the columns
- Amount Funded average as the values

In [ ]:
#Code Block 33
df_pivot = df_pivot.reset_index()
df_pivot.head()

<h2 style="color:blue;">C1.S2.Py13 - How to melt data</h2>   

#### Melt Data
- Create a list of column names of the columns that you want to melt/merge into one column.
    - MORTGAGE, NONE, OTHER, OWN, and RENT
- Melt the data by:
    - Specify the dataset - ***df_columns***.
    - Specify LOAN PURPOSE as the *id_vars*.
    - Taking 5 columns (***MORTGAGE, NONE, OTHER, OWN,*** and ***RENT***) into one column by specifying column names for *value_vars* by using the ***df_pivot_columns***.

https://pandas.pydata.org/pandas-docs/stable/generated/pandas.melt.html <br>

<img src="images/reshaping_melt.png" alt="melt data" style="width: 600px;"/>

In [ ]:
#Code Block 34
df_pivot_columns = df_pivot.columns
df_pivot_columns
# COMMENT: This creates the list of column names for value_vars in the melt function

In [ ]:
#Code Block 35
df_pivot_columns = df_pivot_columns.drop('Loan Purpose')
df_pivot_columns
# COMMENT: Drop Loan Purpose, since this is not one of the columns that should be melted into one column.

In [ ]:
#Code Block 36
df_melt =pd.melt(df_pivot, id_vars=['Loan Purpose'], value_vars=df_pivot_columns)
df_melt.head(15)

In [ ]:
#Code Block 37
df_melt.sort_values(by=['Loan Purpose'], ascending = True).head(15)

In [ ]:
#Code Block 38
df_melt=df_melt.rename(columns = {'value': 'Amount Funded'})
df_melt.info()

In [ ]:
#Code Block 39
df_melt = df_melt.dropna(subset=['Amount Funded'])
df_melt.info()

In [ ]:
#Code Block 40
df_melt.head(15)

<h2 style="color:blue;">C1.S2.Py14 - Changing and correcting data</h2>  

NOTE: This video addresses the misspellings of MORGTAGE in **C1.S4.Py04a - Using groupby for categorical data**

In [ ]:
#Code Block 41
df.groupby(['Home Ownership'])['Home Ownership'].count()

In [ ]:
#Code Block 42
df[df['Home Ownership'] == 'MORGTAGE' ]

In [ ]:
#Code Block 43
df = df.replace('MORGTAGE', 'MORTGAGE')
df.groupby(['Home Ownership'])['Home Ownership'].count()

In [ ]:
#Code Block 44
df_openacc = df.copy()
df_openacc = df_openacc[df_openacc['Open Accounts']>20]
print(df_openacc['Open Accounts'].count())
df_openacc.groupby(['Open Accounts'])['Open Accounts'].count()

In [ ]:
#Code Block 45
df_openacc[df_openacc['Open Accounts']>30] = 30
df_openacc.groupby(['Open Accounts'])['Open Accounts'].count()

<h2 style="color:blue;">C1.S2.Py15 - Describing data and looking for outliers</h2>

### Describing data
- .describe()
- other types of calculations can be found at https://pandas.pydata.org/pandas-docs/stable/reference/frame.html and look for the Computations / descriptive statistics heading

In [ ]:
#Code Block 46
df.describe()

In [ ]:
#Code Block 47
df['Amount Funded'].describe()

In [ ]:
#Code Block 48
AmountFundedStats = df['Amount Funded'].describe().reset_index()
AmountFundedStats

In [ ]:
#Code Block 49
df['Amount Funded'].mean()

In [ ]:
#Code Block 50
df['Amount Funded'].median()

In [ ]:
#Code Block 51
df['Amount Funded'].std()

In [ ]:
#Code Block 52
print('The Standard Deviation is ' + str(df['Amount Funded'].std()))

In [ ]:
#Code Block 53
print ('---------------------------------')
print('The Mean is:')
print(df['Amount Funded'].mean())
print ('---------------------------------')
print('The Median is:')
print(df['Amount Funded'].median())
print ('---------------------------------')
print('The Standard Deviation is:')
print(df['Amount Funded'].std())
print ('---------------------------------')
print('The Variance is:')
print(round(df['Amount Funded'].var(), 2))
print ('---------------------------------')
print('The Skewness is:')
print(round(df['Amount Funded'].skew(), 4))
print ('---------------------------------')

<h2 style="color:blue;">C1.S2.Py16 - Looking for outliers</h2>

In [ ]:
#Code Block 54
df['Loan Purpose'].value_counts()

In [ ]:
#Code Block 55
df['Home Ownership'].value_counts(normalize=True)

In [ ]:
#Code Block 56
df[df['Annual Income'] > 1000000 ].sort_values('Annual Income', ascending=False)

In [ ]:
#Code Block 48
df[df['Amount Funded'] == 35000 ].sort_values('Annual Income', ascending=False).head(15)

In [ ]:
#Code Block 58
df[df['Amount Funded'] == 35000 ].shape

In [ ]:
#Code Block 59
df[df['Amount Funded'] == 35000 ]['Amount Funded'].count()

<h2 style="color:blue;">C1.S2.Py17 - Slice and Filter Data</h2>

- https://pandas.pydata.org/pandas-docs/stable/reference/frame.html and look for Indexing, iteration

In [ ]:
#Code Block 51
df.head(2)

In [ ]:
#Code Block 52
df['Member ID'].head(2)

In [ ]:
#Code Block 53
df[['Member ID']].head(2)

In [ ]:
#Code Block 54
df[['Member ID', 'Loan ID','Interest Rate', 'Amount Funded']].head(2)

In [ ]:
#Code Block 55
df_subset = df[['Member ID', 'Loan ID','Interest Rate', 'Amount Funded']].copy()
df_subset.head()

In [ ]:
#Code Block 56
df.iloc[:, [0]].head()

In [ ]:
#Code Block 57
df.iloc[:, [1, 4, 2]].head()

In [ ]:
#Code Block 58
df_smallset = df.iloc[0:10, [1, 4, 2]]
df_smallset

In [ ]:
#Code Block 59
df[df['Annual Income'] > 5000000]

In [ ]:
#Code Block 60
df[df['Annual Income'] > 5000000].index

In [ ]:
#Code Block 61
df.iloc[[22304, 29333], [1, 4, 2]]

In [ ]:
#Code Block 62
varindex = df[df['Annual Income'] > 5000000].index
df.iloc[varindex, [1, 4, 2]]

In [ ]:
varindex